<!DOCTYPE html>
<html>
<head>
  <title>Product</title>
  <%= stylesheet_link_tag    "product/application", media: "all" %>
  <%= javascript_include_tag "product/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
