<!DOCTYPE html>
<html>
<head>
  <title>Product</title>
  <%= stylesheet_link_tag    "product/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'product/application' %>

</body>
</html>
